<!DOCTYPE html>
<html th:include="template :: modelo">

<body>
    <div th:fragment="conteudo">
        <h1>Dono do post</h1>
        <ul th:each="usuario : ${usuario}">

            <li th:text="${usuario.telefone}"></li>
            <li th:text="${usuario.email}"></li>
            <li th:text="${usuario.username}"></li>
            <li th:text="${usuario.foto}"></li>
        </ul>

        <h2>Categorias</h2>
        <ul th:each="categoria : ${categorias}">
            <li th:text="${categoria.nome}"></li>
        </ul>

        <h2>Post</h2>
        <ul th:each="post : ${post}">
            <li th:text="${post.titulo}"></li>
            <li th:text="${post.subtitulo}"></li>
            <li th:text="${post.corpo}"></li>
        </ul>

        <h2>Comentarios</h2>
        <ul th:each="comentario : ${comentario}">
            <li th:text="${comentario.id_usuario.nome}"></li>
            <li th:text="${comentario.id_usuario.username}"></li>
            <li th:text="${comentario.id_usuario.foto}"></li>
            <li th:text="${comentario.comentario}"></li>
        </ul>
    </div>
</body>

</html>