<!DOCTYPE html>
<html th:include="acessos/template :: acesso_modelo">
<body>
    <main class="d-flex flex-column justify-content-center align-items-center" th:fragment="conteudo">
        <div class="box-login">
            <h2 class="login-title">Login</h2>
            <form action="/login" method="post" class="login-form">
                <fieldset>
                    <input type="text" name="" id="user" class="w-100" placeholder="Usuário" >
                </fieldset>
                <fieldset>
                    <input type="password" name="" id="pwd" class="w-100" placeholder="Senha">
                </fieldset>
                <input type="button" value="Entrar" class="w-50">
            </form>
        </div>
        <p class="register-message">Ainda não possui cadastro? <a href="cadastro" class="link">Click aqui para fazer parte!</a></p>
    </main>
</body>
</html>
