.button{
    background-color: #312070;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #D9D9D9;
    border-radius: 50px;
    cursor: pointer;
    
}

span{

    color: #D9D9D9;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.hidden{
    display: none;
    pointer-events: none;
    
}

.options{
    width: 300px;
    /* background-color: lightgray; */
    border: 1px solid #312070;
}

.options > div {

    border-bottom: 1px solid #312070;
    padding: 10px;
text-align: center;
   background-size: 30px;
   background-position: center left 20px;
    
}

.options > div:nth-child(1){

    background-image: url('../img/subtitulo.png');
    background-repeat: no-repeat;

}

.options > div:nth-child(2){

    background-image: url('../img/image.png');
    background-repeat: no-repeat;

}

.options > div:nth-child(3){

    background-image: url('../img/code.png');
    background-repeat: no-repeat;

}

.textOptions{

    color: #312070;
    font-size: 10px;
    text-align: center;
    margin: 5px;
}

.titleOptions {
    color: #312070;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

