h1 {
    color: #443091;
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    padding: 70px;
}

p {
    text-align: left;
    font-style: italic;
    font-size: 20px;
    color: grey;
    padding: 20px 0px 20px 0px;  
    height: 50px;
}

input[type="button"] {
    background-color: #443091;
    padding: 15px;
    margin: 60px;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    border: 1px black solid; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.boxartigo {
    padding: 50px;
}

.caixa{
    

}