@import url('https://fonts.googleapis.com/css2?family=Inder&family=Jockey+One&display=swap');


header {
    background-color: #000;
}

main {
    font-family: 'Inder', sans-serif;
}

.logo {
    width: 90px;
    height: 70px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

.footer-title {
    color: #fff;
}

ul {
    list-style: none;
    margin-top: 15px;
    padding: 0;
}

li {
    margin-top: 7px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Inder', arial;
}

.postapp {
    width: 150px;
}

footer {
    position: relative;
    background-image: linear-gradient(180deg, #000000 50%, #443091 100%);
    padding: 70px;
}

.footer-title {
    font-weight: bold;
    font-family: 'Inder', arial;
}

.ancora {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../img/top.png);
    background-repeat: no-repeat;
}

.cabecalho {
    padding: 10px 30px;
}

.cabecalho>* {
    padding: 5px;
}

.titulo {
    font-family: 'Jockey One', sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: #443091;
}

.subtitulo {
    font-size: 32px;
}

.autor {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    padding-top: 50px;
}

.autor a {
    color: #6A51C5;
}

.autor img {
    width: 200px;
    border-radius: 20px;
    border: 5px solid #443091;
}

.autor>p {
    text-align: center;
}

.card {
    width: 300px;
}

.card-title {
    font-size: 22px;
}

.card-text {
    font-size: 15px;
}

.card a {
    color: #fff;
}

.data>label {

    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
}

.btn-category {
    background-color: black;
    border-color: #6A51C5;
    color: #BAAFE4;
    font-weight: bold;
}

.btn-category:hover {
    background-color: #6A51C5;
    color: white;
}


.barra {
    height: 100%;
    position: relative;
    border-right: solid 1px rgb(179, 179, 179);
    padding-right: 20px;
}

.icon {
    width: 30px;
}

.comment {
    padding: 10px;
}

.comment a {
    color: #443091;
}

.comment a:hover {
    cursor: pointer;
    color: #6A51C5;
}

.comment_img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #443091;
    padding: 0px;
}

.comment_name {
    margin-bottom: 10px;
    font-weight: bold;
}

.comment_text {
    border-left: 2px solid #BAAFE4;
    padding-left: 5px;
}

.body_post>div {
    padding: 15px 0px;
}

.paragrafo p {
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 1.1em;
}

.citacao {
    background-color: #BAAFE4;
    padding: 25px 50px !important;
    line-height: 1.5em;
    color: black;
    border-radius: 20px;
}

.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagem img {
    width: 300px;
}

.imagem label {
    font-size: 15px;
    font-style: italic;
}

.subtitulo p {
    font-size: 30px;
    font-weight: bold;
}

/* @media only screen and (max-width: 770px) {
   

} */