<div th:fragment="button">
    <div class="button" onclick="statusVerification()">
        <div>
            <span>+</span>
        </div>
    </div>

    <div id="postOptions" class="hidden options">

        <div>
            <details>
                <summary><span class="titleOptions">Texto</span></summary>
                <span class="textOptions">Subtítulo</span>
                <span class="textOptions">Itálico</span>
                <span class="textOptions">Negrito</span>
            </details>
        </div>
        <div>
            <span class="titleOptions">Imagem</span>
        </div>
        <div>
            <span class="titleOptions">Código</span>
        </div>

    </div>

</div>