<html xmlns:th="http://www.thymeleaf.org">

<body>
    <h1>Informação do usuario</h1>
    <ul th:each="usuario : ${usuario}">
        <li th:text="${usuario.nome}"></li>
        <li th:text="${usuario.telefone}"></li>
        <li th:text="${usuario.email}"></li>
        <li th:text="${usuario.username}"></li>
        <li th:text="${usuario.foto}"></li>
    </ul>

    <h1>Postagens</h1>
    <ul th:each="postagems : ${postagems}">
        <li><a th:href="@{'/post/'+${postagems.id}}"  > link </a></li>
        <li th:text="${postagems.titulo}"></li>
        <li th:text="${postagems.subtitulo}"></li>
    </ul>
</body>
</html>
